@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'RailwayRegular';
    src: url('railway-webfont.eot');
    src: url('railway-webfont.eot?#iefix') format('embedded-opentype'),
         url('railway-webfont.woff') format('woff'),
         url('railway-webfont.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;

}

@font-face	{
	font-family:'BebasNeue';
	src: url('BebasNeue.otf') format('opentype');
}